.m-navbar {
    float: left;
    width: 200px;
    height: 100vh;
    border-right: 2px solid #E5E5E5;
    background-color: #393a3d;
    box-sizing: border-box;
}

.m-navbar .m-navbar-logo {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
}

.m-navbar .m-navbar-logo-left {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url(../../content/Resource/img/Sprites.64af8f61.svg) no-repeat -424px -86px;
}

.m-navbar .m-navbar-logo-right {
    height: 32px;
    display: block;
}

.m-navbar-logo-right .img-icon {
    height: 32px;
}


/* Phần navbar option */

.m-navbar .m-navbar-option {
    padding-left: 8px;
}

.m-navbar-option .m-navbar-items {
    display: flex;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.m-navbar-option .m-navbar-items:hover {
    font-weight: bold;
    background-color: #bbb;
}

.m-navbar-option .m-navbar-items-icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    margin-right: 8px;
}

.m-navbar-option .m-navbar-items-text {
    color: #fff;
    line-height: 40px;
}


/* Các icon khác nhau */

.mi-sidebar-dashboard {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -30px -1628px;
}

.mi-sidebar-cash {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -73px -1628px;
}

.mi-sidebar-bank {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -117px -1628px;
}

.mi-sidebar-pu {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -161px -1628px;
}

.mi-sidebar-sale {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -204px -1628px;
}

.mi-sidebar-invoice {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -249px -1628px;
}

.mi-sidebar-stock {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -291px -1628px;
}

.mi-sidebar-tools {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -336px -1628px;
}

.mi-sidebar-fixed-asserts {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -378px -1630px;
}

.mi-sidebar-tax {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -423px -1630px;
}

.mi-sidebar-price {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -467px -1628px;
}

.mi-sidebar-general {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -510px -1628px;
}

.mi-sidebar-buget {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -378px -1659px;
}

.mi-sidebar-report {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -547px -1628px;
}

.mi-sidebar-finance {
    background: url(https://actappg1.misacdn.net/img/Sprites.064341bf.svg) no-repeat -204px -1664px;
}